**/out_dir*
*.db
*.log
*.out
*.err
*.pyc
*.gcard
/submission_files/gcards/*.gcard
/submission_files/condor_files/*.condor
/submission_files/run_job_files/*.sh
/submission_files/runscript_files/*.sh
runscript_osg.sh
run_job.sh
condor_wrapper
clas12_osg.condor
