#!/bin/bash

echo "XXX"
echo "XXX"
pwd;
echo "XXX"
echo "XXX"
ls -l;


echo "-------------"
echo "-------------"
cat condor_wrapper
echo "-------------"
echo "-------------"
cat condor_exec.exe
echo "-------------"
echo "-------------"
cat runscript.overwrite
echo "-------------"
echo "-------------"

#runscript=`cat runscript.overwrite`

./condor_wrapper /tmp/runscript.overwrite
